@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext');

.thumbnail
{
    margin-bottom: 20px;
    padding: 10px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 10px;
    border-width: 1px;
    height: 460px;
    width: 378px;
    margin-right: 0.5%;
    margin-left: 0.5%;
    position: static;
    box-shadow: 0px 0px 14px -6px rgba(0,0,0,0.54);
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

.profile-card {
  width: 100%;
  min-height: 450px;
  margin: auto;
  box-shadow: 0px 0px 14px -6px rgba(0,0,0,0.54);
  background: #fff;
  border-style: solid;
  border-radius: 12px;
  border-width: 1px;
  border-color: #cbcbcb;
  max-width: 700px;
  position: relative;
  padding: 30px;

  &.active {
    .profile-card__cnt {
      filter: blur(6px);
    }

    .profile-card-message,
    .profile-card__overlay {
      opacity: 1;
      pointer-events: auto;
      transition-delay: .1s;
    }

    .profile-card-form {
      transform: none;
      transition-delay: .1s;
    }
  }
}

.favorite {

}
.unfavorite {
	display: none;
}
.favorited {
	display: none;
}
.btn-favorited {
	color: #fff;
  background-color: #33AFB7;
  border-color: #2E8EA4;
	&:focus {
		color:#fff;
	}
}

.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}

.row-search-result{
	border-bottom:2px solid #ccc;
	padding-top:10px;
	padding-bottom:10px;
	margin: 0;
}

.row-search-result .fa-crosshairs{
	font-size: 45px;
    float: left;
    margin-right: 15px;
}

.row-search-result h3{
	font-size: 20px;
	margin-bottom: 0;
	font-weight: normal;
	margin-top: 5px;
}

.row-search-result .search-logo{
	padding: 10px;
	background: #fff;
	width: auto;
	max-width: 150px;
	border: 1px solid #efefef;
}

.row-search-result .icon{
    font-size: 45px;
    float: left;
    margin-right:5px;
}

.icon {
    width: 50px;
}

.row-search-result:hover{
	background: #ecf3fb;
}

.search-result:hover{
	background: #eeeeee;
}

.search-result-show-all{
	color:#444;
	font-size: 16px;
}

.result-hidden{
	display: none;
}
.result-visible{
	display: block;
}

.font-12 {
    font-size: 12px;
}

.margin-b-15 {
    margin-bottom: 15px;
}
.block {
    display: block;
}
.black {
    color: #444;
}

.bold {
    font-weight: bold;
}

.margin-t-10 {
    margin-top: 10px;
}

.btn-black-border {
  border: 1px solid #3880FF;
  background-color: #fff;
  color: #3880FF;
}

.btn-search-result {
    width: 100%;
    font-weight: bold;
}

.btn-orange-border {
    border: 1px solid #3880FF;
    background-color: #fff;
    color: #3880FF;
}

.btn-orange-border:hover {
    border: 1px solid #3880FF;
    color: #fff;
    background-color: #3880FF;
}

.btn-black-border:hover {
  border: 1px solid #3880FF;
  color: #fff;
  background-color: #3880FF;
}
